body { background-color: transparent;
     }

H1  { font-size:xx-large;
     text-align:center;
    }

H2  { font-size:larger;
     text-align:center;
    }
    
.center {text-align:center;
    }